.GalleryPageContainer{
    min-height: 100%;
}

.GallerySplashContainer{
    background: linear-gradient(rgb(167, 108, 40), rgba(117, 55, 13, 0.888));
    padding:4rem;
    text-align: center;
    width:85%
}

.GalleryCollectionContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.GalleryImageContainer{
    max-width: 20rem;
    margin: 2rem;
    cursor: pointer;
}


@media (max-width: 700px) {

    .GalleryPageContainer{
        width: 100%;
        margin:0;
        padding: 0;
    }

    .GallerySplashContainer{
        padding:0.7rem;
        text-align: left;
    }

    

    .GalleryDescription{
        text-align: left;
    }
}