.ServicesSplashContainer{
    padding:4rem;
    width: 75%;
}

.ServicesSplashContainer{
    background: linear-gradient(to bottom, rgb(109, 49, 11), rgba(74, 33, 7, 0.888));
    text-align: center;
}

button{
    font-family: 'Source Serif Pro', sans-serif;
    background-color: var(--primaryBlue);
}

.SectionContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {

    .ServicesSplashContainer{
        width: 85%;
        padding:1rem;
        text-align: left;
    }

}