p, li{
    line-height: 1.8rem;
}

.ContactDescContainer{
    padding: 2rem;
    text-align: center;
}

.ContactForm{
    min-width: 75%;
}

@media (max-width: 700px) {

    .ContactDescContainer{
        padding: 0.7rem;
    }

    .ContactDescription{
        text-align: justify;
        padding: 0.3rem;
    }
}
