@tailwind base;
@tailwind components;
@tailwind utilities;

.HomeGalleryContainer{
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.HomeGalleryImages{
    margin: 2rem;
}

.HomeGalleryImages :hover{
    cursor: pointer;
}

.hgImage{
    max-width: 20rem;
}

.SplashContainer{
    background: url(../../assets/images/deckOutside.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.background-tint{
    background-color: rgba(40, 25, 11, 0.716);
    background-blend-mode: multiply;
}

.SplashDescriptionContainer{
    background: linear-gradient(rgb(167, 108, 40), rgba(117, 55, 13, 0.888));
}

.notRealThing{
    background: linear-gradient(70deg, rgb(109, 49, 11), rgba(74, 33, 7, 0.888));
}

.HomeDescription{
    text-align: center;
}

.model{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out ;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 10000;
}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img{
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 2rem 0 2rem;
    margin: 0 auto;
}

.model.open svg{
    position:fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.4);
    color:white;
    cursor: pointer;
}


.SplashContactUsButton{
    font-family: 'Source Serif Pro', sans-serif;
    background-color: var(--primaryBlue);
}

.HomeSeeGalleryButton{
    background: var(--primaryBlue);
}

.CarouselSection{
    display: flex;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

@media (max-width: 700px) {
    .HomeDescription{
        text-align: left;
    }
}
