.BathroomSplashContainer{
    background: linear-gradient(to bottom, rgb(109, 49, 11), rgba(74, 33, 7, 0.888));
    width: 75%;
}

.BathroomSplashContainer{
    text-align: center;
}

.BathroomTextImageContainer{
    display: flex;
}

.TextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    display: flex;
    text-align: center;
}

.column {
    flex: 50%;
}

.ImageContainer{
    display: flex;
    flex-direction: column;
}

@media (max-width: 925px){
    .TextContainer{
        text-align: left;
    }
}

@media (max-width: 925px) {

    .BathroomSplashContainer{
        width: 85%;
        padding:1rem;
        text-align: left;
    }

    .row{
        flex-direction: column;
      }
    
    .ImageContainer{
        margin-top: 2rem;
    }
}