.ExteriorSplashContainer{
    background: linear-gradient(to bottom, rgb(109, 49, 11), rgba(74, 33, 7, 0.888));
    width: 75%;
}

.ExteriorSplashContainer{
    text-align: center;
}

@media (max-width: 925px) {

    .ExteriorSplashContainer{
        width: 85%;
        padding:1rem;
        text-align: left;
    }

}