.ExteriorSplashContainer{
    background: linear-gradient(rgb(167, 108, 40), rgba(117, 55, 13, 0.888));
    width: 75%;
}

.ExteriorSplashContainer{
    text-align: center;
}

@media (max-width: 925px) {

    .ExteriorSplashContainer{
        width: 85%;
        padding:1rem;
        text-align: left;
    }

}