.ExteriorSplashContainer{
    width: 75%;
}

.ExteriorSplashContainer{
    text-align: center;
}

@media (max-width: 925px) {

    .ExteriorSplashContainer{
        width: 85%;
        padding:1rem;
        text-align: left;
    }

}